DATABASE_URL=postgresql+asyncpg://postgres:9QNc)%2Czh%2F6@db.ketpjyyowmhuzecwzmds.supabase.co:5432/postgres

SUPABASE_URL=https://ketpjyyowmhuzecwzmds.supabase.co 
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtldHBqeXlvd21odXplY3d6bWRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2MDUwMTMsImV4cCI6MjEwNjE4MTAxM30.wicBEM7Oj3jD5wqBLDsukmeGZC9NNzyem6kCBRYHtFA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtldHBqeXlvd21odXplY3d6bWRzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDYwNTAxMywiZXhwIjoyMTA2MTgxMDEzfQ.C-Z3bj3IUcfq3VaWT7irGWD-Q1x-n9aJ4-24SqrP3Qo
SUPABASE_JWT_SECRET=e0Gk4iYLneCPFfHTzvAKegYaR+IkMxmRybALEVTOIHODOo0mhP1vS6gjDyAcN/yeQGux8fI7+TspTbRRl1BBAw==

LLM_PROVIDER=openai
LLM_MODEL=gpt-4o-mini
EMBEDDING_PROVIDER=openai
EMBEDDING_MODEL=text-embedding-3-small
EMBEDDING_DIMENSION=1536

RAG_TOP_K=5
RAG_SIMILARITY_THRESHOLD=0.75

GOOGLE_MAPS_API_KEY=
ERMS_INTEGRATION_ENABLED=false
FCM_ENABLED=false

ALLOWED_ORIGINS=http://localhost:3000,https://myzone-sfrc360.vercel.app
